body
{
	background-color: #252424;
	color: #E6E6E6;
	font-family: "Monda";
}

h1
{
	text-align: center;
	color: #C8FF9B;
}

h3
{
	text-align: center;
	color: #D6D562;
}

.noteList
{
	background-color: #2C2A29EB;
	background-clip: padding-box;
	margin: 8px;
	padding: 8px;
	border-width: 16px;
	border-style: solid;
	border-image: url("images/slice_default.png");
	border-image-slice: 16;
	display: table;
}

ul
{
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

.taskDone
{
	text-decoration: line-through;
	color: #999999;
}

.noteContainer
{
    right: 20px;
    left: 20px;
	
	background-color: #FFFFFF00;
	padding: 8px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	border-bottom: 4px dotted #7A7A7A;
}

p
{
	font-family: verdana;
	font-size: 20px;
}